/*! Стили Главной страницы авторизайии */

.authorization {
  padding: 100px 0px 35px 0px;
  @media (max-width:992px){
    padding: 80px 0 15px 0;
  }
}
.form {
  background: #016B45;
  border-radius: 6px;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  padding: 35px 55px 45px 55px;
  margin: 0 auto;
  @media (max-width:465px){
    padding: 28px;
  }
  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
    @media (max-width:680px){
      width: 100%;  
    }
  }
  &__input--label {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 14px;
  }
  &__input {
    margin-bottom: 20px;
    background: #FFFFFF;
    border: 1px solid #B7BFC3;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 15px 0px 15px 15px;
    width: 100%;
    &--radio {
      display: none;
    }
  }
  &__role--label {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 15px;
    
    &-radio {
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      color: #FFFFFF;
      margin-right: 40px;
      vertical-align: 1px;
      display: inline-block;
      @media (max-width:465px){
        margin-right: 7px;
      }
      &-first {
        margin-right: 25%;
      }
    }
  }
  &__role {
    margin-bottom: 20px;
  }
  &__btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 20px;
    background: #1D1D1D;
    border: 1px solid #1D1D1D;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    &:hover {
      background: #016b45;
      border: 1px solid #FFFFFF;
      transition: all 0.3s ease 0s;
    }
    &--wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &--link {
      background: #016b45;
      border: 1px solid #FFFFFF;
      transition: all 0.3s ease 0s;
      &:hover {
        background: #1D1D1D;
        border: 1px solid #1D1D1D;
        transition: all 0.3s ease 0s;
      }
    }
  }
}

.new {
  &__radio {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: #ffffff;
    border-radius: 50%;
    position: relative;
    margin-right: 5px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 7px;
      height: 7px;
      border-radius:50%;
      background-color: #000000;
      opacity: 0;
      transition: all 0.3s ease 0s; 
    }
  }
}
.form__input--radio:checked + .new__radio::before {
  opacity: 1;
}

.form__password--wrap {
  position: relative;
}

.password-control {
  position: absolute;
	top: 11px;
	right: 6px;
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(../img/main/visibility-password.svg) 0 0 no-repeat;
}

.password-control.view {
	background: url(../img/main/hidden-password.svg) 0 0 no-repeat;
}

/*! КОНЕЦ! Стили Главной страницы авторизайии */