//!Стили блока поиск
.drivers-search {
  padding: 40px 0px 20px 0px;
  @media (max-width:576px){
    padding: 30px 0px 20px 0;
  }
  &__title {
    margin: 0px 0px 15px 0px;
    @media (max-width:576px){
      font-size: 24px;
      line-height: 28px;
    }
  }
}
.search {
  &__body--title {
    position: relative;
    display: inline-block;
    background: rgba(27, 36, 45, 0.75);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    border-radius: 6px 6px 0px 0px;
    padding: 20px 60px;
    @media (max-width:1180px){
      flex: 0 0 304px;
      padding: 20px 30px;
      margin: 0px 15px 0px 0px;
      text-align: center;
    }
    @media (max-width:576px){
      flex: 0 1 100%;
      width: 100%;
      margin: 0;
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 24px;
      width: 16px;
      height: 20px;
      background: url(../img/main/filter.svg) 0 0 no-repeat;
      transform: translate(0, -50%);
    }
  }
  &__body--title-text {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}
.serach {
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width:576px){
      flex-direction: column-reverse;
    }
  }
}
.search-form {
  flex: 0 1 60%;
  @media (max-width:576px){
    flex: 0 1 100%;
    width: 100%;
    margin: 0px 0px 15px 0px;
  }
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__label {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
  }
  &__btn {
    position: absolute;
    top: 50%;
    right: 0;
    width: 40px;
    height: 36px;
    border-radius: 0 4px 4px 0;
    transform: translate(0, -50%);

  }
  &__title {
    flex: 0 1 25%;
    margin: 0px 35px 0px 0px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #464D54;
    @media (max-width:1180px){
      display: none;
    }
  }
  &__input {
    flex: 0 1 75%;
    border: 1px solid #E8E8E8;
    border-radius: 4px;
    padding: 10px 0px 10px 15px;
    @media (max-width:1180px){
      flex: 0 1 100%;
    }
    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: rgba(0, 0, 0, 0.5);
    }
  }
}
// ! Стили блока фильтр ==========================================================
.filter {
  &__body {
    background: rgba(27, 36, 45, 0.8);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 6px 6px;
    padding: 20px;
  }
  &__form {
    &--body {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__input {
    background: #F6F6F6;
    border-radius: 4px;
    padding: 10px 0px 10px 10px;
    width: 100%;
  }
  &__item {
    position: relative;
    &--center {
      margin: 15px 0px 0px 0px;
    }
  }
  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 36px;
    background: #016B45;
    border-radius: 0px 4px 4px 0px;
  }
  &__label {
    display: inline-flex;
    align-items: center;
    margin: 0px 15px 0px 0px;
  }
  &__name {
    flex: 0 1 25%;
    @media (max-width:1180px){
      flex: 0 1 57%;
    }
    @media (max-width:576px){
      flex: 0 1 100%;
    }
  }
  &__property {
    flex: 0 1 20%;
    @media (max-width:1180px){
      flex: 0 1 40%;
      text-align: right;
    }
    @media (max-width:576px){
      flex: 0 1 100%;
      text-align-last: left;
      margin: 15px 0px 0px 0px;
    }
  }
  &__brand {
    flex: 0 1 15%;
    @media (max-width:1180px){
      flex: 0 1 32%;
    }
    @media (max-width:576px){
      flex: 0 1 100%;
    }
  }
  &__weight {
    flex: 0 1 17%;
    @media (max-width:1180px){
      flex: 0 1 32%;
    }
    @media (max-width:576px){
      flex: 0 1 100%;
    }
  }
  &__volume {
    flex: 0 1 15%;
    @media (max-width:1180px){
      flex: 0 1 32%;
    }
    @media (max-width:576px){
      flex: 0 1 100%;
    }
  }
  &__clean {
    position: relative;
    flex: 0 1 45%;
    margin: 15px 0px 0px 0px;
    padding: 0px 0px 0px 25px;
    @media (max-width:576px){
      flex: 0 1 100%;
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 16px;
      height: 20px;
      background: url(../img/main/cleaning.svg) no-repeat;
      transform: translate(0, -50%);
    }
  }
  &__btn {
    &--reset {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: rgba(255, 255, 255, 0.75);
      background: transparent;
    }
  }
  &__submit {
    flex: 0 1 45%;
    margin: 15px 0px 0px 0px;
    text-align: right;
    @media (max-width:576px){
      flex: 0 1 100%;
      text-align: left;
    }
    &--btn {
      display: inline-block;  
      width: 270px;
    }
  }
}
.filter__title,
.filter__label--text {
  color: #fff;
}
