.new-bid {
  padding: 90px 0px 0px 0px;
  &__checkbox {
    display: inline-block;
    &--block {
      margin-bottom: 25px;
    }
  }
  &__label {
    display: inline-block;
    vertical-align: 3px;
    margin-left: 10px;  
  }
  &__header {
    padding: 3px 0px;
    &--block {
      &-number {
        flex: 0 0 120px;
        padding: 13px 0 13px 13px;
        border-right: 1px solid #EBEBEB;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
      }
      &-info {
        &-wrap {
          display: flex;
          flex-wrap: wrap;
          flex: 1 1 auto;
          align-items: center;
          justify-content: space-between;
          height: auto;
          background: #FCFCFC;
          padding: 10px 0;
          border-bottom: 1px solid #E8E8E8;
          @media (max-width:1180px){
            border-bottom: 1px solid #E8E8E8;
          }
        }
      }
      &-wrap {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        height: auto;
        background: #FCFCFC;
        @media (max-width:768px) {
          display: none;
        }
      }
    }
    &--city {
      flex: 0 1 60%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 10px;
      &-info {
        flex: 0 1 48%;
        @media (max-width:1180px){
          flex: 0 1 59%;
        }
        @media (max-width:768px){
          flex: 0 1 100%;
        }
        @media (max-width:576px) {
          flex-direction: column;
        }
      }
      &-town {
        border: 1px solid #E8E8E8;
        border-radius: 4px;
        padding: 10px 30px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #000000;
        @media (max-width:576px){
          width: 100%;
        }
      }
      &-img {
        display: block;
        margin: 0px 5px;
        @media (max-width:576px){
          transform: rotate(90deg);
          margin: 15px 0px;
        }
      }
    }
    &--date {
      flex: 0 1 40%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-left: 1px solid #E8E8E8;
      padding: 15px 20px;
      &-info {
        flex: 0 1 24%;
        @media (max-width:1180px){
          flex: 0 1 39%;
        }
        @media (max-width:768px){
          flex: 0 1 45%;
          margin-top: 10px;
        }
        @media (max-width:576px){
          flex: 0 1 100%;
          border-left: none;
          border-bottom: 1px solid #E8E8E8;
        }
      }
    }
    &--button {
      &-wrap {
        flex: 0 1 25%;
        margin-right: 10px;
        @media (max-width:1180px){
          margin: 10px 0 0 10px;
          flex: 0 0 200px;
        }
      }
      &-info {
        width: 100%;
      }
    }
  }
}

  