.my-transportation {
  padding: 157px 0px 35px 0px;
  @media (max-width:1180px){
    padding: 80px 0px 35px 0px;
  }
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width:1180px){
      flex-direction: column;
      align-items: center;
    }
  }
}
.aside {
  background: #016B45;
  border-radius: 6px;
  padding: 40px 0px 0px 0px;
  flex: 0 0 322px;
  margin-right: 10px;
  @media (max-width:1180px){
    border-radius: 0;
    margin-bottom: 40px;
    width: 100%;
    margin-right: 0;
  }
  @media (max-width:576px){
    margin-bottom: 30px;
  }
}
.navbar {
  @media (max-width:768px){
    text-align: center;
  }
  &__logo {
    width: 124px;
    display: block;
    border-radius: 50%;
    margin: 0px auto 26px auto;
    @media (max-width:768px){
      width: 64px;
      margin: 0 auto 8px auto;
    }
  }
  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    @media (max-width:768px){
      display: inline-block;
    }
  }
  &__list {
    margin: 15px 0px 0px 0px;
    @media (max-width:1180px){
      text-align: center;
    }
  }
  &__list--item {
    border-top: 1px solid #005234;
  }
  &__list--link {
    display: block;
    height: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 20px 0px 20px 28px;
    transition: all 0.3s ease 0s;
    @media (max-width:1180px){
      padding: 20px 0px;
    }
    &:hover {
      background: #005234;
      transition: all 0.3s ease 0s;
    }
    &-dropdown {
      &::after {
        display: inline-block;
        margin-left: 10px;
        vertical-align: 2px;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
      }
    }
  }
  &__submenu {
    &--list {
      list-style: none;
      border-top: 1px solid;
      border-color: #005234;
      padding: 0px 15px;
      background: #0B4430;
      display: none;
    }
    &--item {
      border-top: 1px solid #00301F;
      position: relative;
      &:first-child {
        border-top: none;
      }
      &-img {
        position: absolute;
        top: 24px;
        left: 15px;  
        @media (max-width:1180px){
          left: 42%;
        }
      }
    }
    &--link {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      text-transform: inherit;
      color: #FFFFFF;
      &:hover {
        background: #0B4430;
      }
    }
  }
}

.active {
  display: block;
}

.bid-hauling {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  &__title {
    margin-bottom: 17px;
    font-size: 36px;
    line-height: 42px;
    font-weight: normal;
    color: #000000;
    @media (max-width:576px){
      font-weight: 400;
      font-size: 30px;
      line-height: 35px;
    }
  }
  &__subtitle {
    font-size: 30px;
    line-height: 35px;
    font-weight: normal;
    margin-bottom: 17px;
    @media (max-width:576px){
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
    }
  }
}
.bid-info {
}
.bid {
  &__filter {
  }
  &__reqvuisition {
    background: #FCFCFC;
    border: 1px solid rgba(234, 234, 234, 0.5);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    &--title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 2px;
      margin-right: 2px;
      padding: 15px;
      border: 1px solid #EAEAEA;
      border-radius: 6px 6px 0px 0px;
    }
    &--number {
      display: flex;
    }
    &--img {
      margin: 1px 13px 0 0;
    }
    &--text {
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
    }
  }
}
.choice {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
  @media (max-width:576px){
    margin-bottom: 10px;
  }
  &__text {
    margin-right: 18px;
    @media (max-width:576px){
      margin-right: 10px;
    }
  }
}
.choice-perform {
  display: flex;
  align-items: center;
  &__filter {
    display: flex;
    align-items: center;
    margin-right: 21px;
    @media (max-width:576px){
      margin-right: 15px;
    }
  }
  &__text {
    margin-right: 5px;
    color: #03396B;
  }
  &__image {
  }
  &__text2 {
  }
}
.stage {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 18px;
  max-width: 573px;
  width: 100%;
  &__text {
    margin-right: 18px;
    @media (max-width:576px){
      margin-bottom: 5px;
    }
  }
  &__point {
    display: flex;
    align-items: center;
    margin-right: 18px;
  }
  &__img {
    margin-right: 5px;
    display: block;
  }
  &__subtitle {
  }
}
.stage-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.stage-advance {
  &__image {
  }
  &__text {
  }
}
.stage-download {
  &__image {
  }
  &__text {
  }
}
.stage-moves {
  &__image {
  }
  &__text {
  }
}
.stage-unloading {
  @media (max-width:576px){
    margin-top: 5px;
  }
  &__image {
  }
  &__text {
  }
}
.requests {
}



.data {
  display: none;
  align-items: flex-start;
  flex-direction: column;
  padding: 16px 13px;
  color: #2A2A2A;
  &__transportation {
    display: flex;
    align-items: start;
    flex-direction: column;
    flex: 0 1 auto;
    &--title {
      font-size: 12px;
      line-height: 14px;
      color: rgba(0, 0, 0, 0.5);
      @media (max-width:576px){
        margin-bottom: 5px;
      }
    }
    &--text {
      font-size: 14px;
      line-height: 16px;
      color: #2A2A2A;
    }
  }
  &-common {
    display: flex;
    align-items: start;
    @media (max-width:1180px){
      flex-direction: column;
      align-items: normal;
    }
  }
}

.active-data {
  display: flex;
}

.data-city {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  @media (max-width:768px){
    flex-direction: column;
  }
}
.city {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 26px;
  @media (max-width:768px){
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #e7e7e7;
  }
}
.city-field {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  @media (max-width:768px){
    width: 100%;
    justify-content: space-between;
  }
  @media (max-width:576px){
    flex-direction: column;
  }
  &__text {
    width: 230px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    padding: 9px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    @media (max-width:576px){
      width: 100%;
    }
  }
  &__loading {
  }
  &__image {
    margin-left: 9px;
    margin-right: 9px;
    @media (max-width:576px){
      display: none;
    }
  }
  &__image-mobile {
    display: none;
    @media (max-width:576px){
      display: block;
      margin: 5px 0;
    }

  }
  &__unloading {
  }
}
.arrow2 {
  &__image {
  }
}
.arrow {
  &__image {
  }
}
.city-date {
  display: flex;
  align-items: center;
  @media (max-width:768px){
    width: 100%;
    justify-content: space-between;
  }
  &__loading {
    position: relative;
    @media (max-width:576px){
      padding-left: 30px;
    }
  }
  &__text {
    width: 230px;
    text-align: center;
    font-size: 13px;
    line-height: 15px;
    padding: 9px 0;
    @media (max-width:576px){
      width: 100px;
    }
  }
  &__icon {
    left: 0;
    position: absolute;
  }
  &__image {
    margin: 0 9px;
  }
  &__unloading {
  }
}
.bid-stage {
  width: 100%;
  margin-bottom: 33px;
  @media (max-width:1180px){
    margin-bottom: 0;
    padding: 10px 0px;
  }
  &__text {
    margin-bottom: 3px;
    @media (max-width:1180px){
      margin-bottom: 0;
    }
  }
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  &__action {
    
    
  }
  &__signal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EDEDED;
    width: 136px;
    height: 2px;
    margin: 0 34px 0 10px;
    @media (max-width:1180px){
      margin: 25px 0px 0px 0px;
    }
    @media (max-width:768px){
      margin: 0;
    }
  }
  &__advance {
  }
  &__image {
    display: block;
  }
  &__download {
  }
  &__moves {
  }
  &__unloading {
  }
}
.data-common {
}
.customer {
}
.contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8px 0;
  border-bottom: 1px solid #E7E7E7;
  @media (max-width:576px){
    flex-direction: column;
    align-items: flex-start;
  }
}
.customer-delegate {
  &__title {
  }
  &__name {
  }
}
.contacts-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__title {
  }
  &__name {
  }
}
.customer-contact {
  &__text {
  }
  &__tel {
  }
}
.contacts-phone {
  &__text {
  }
  &__tel {
  }
  &__border {
  }
  &__image {
  }
}
.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 213px;
  padding: 5px;
  text-align: center;
  border: 1px solid rgba(1, 107, 69, 0.5);
  border-radius: 4px;
  transition: all 0.3s ease 0s;
  &:hover {
    background-color: #e7e7e7;
    transition: all 0.3s ease 0s;
  }
  @media (max-width:576px){
    width: 270px;
  }
  &__text {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #2A2A2A;
  }
  &__tel {
    display: flex;
    align-items: center;
  }
  &__border {
    width: 1px;
    height: 24px;
    margin-right: 9px;
    background: #016B45;
  }
}
.trucking {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #E7E7E7;
  padding: 13px 0;
  @media (max-width:576px){
    flex-direction: column;
    padding: 0;
  }
}
.trucking-car {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 230px;
  @media (max-width:576px){
    width: 100%;
    padding: 10px 0;
  }
  &__toving {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  &__number {
    display: flex;
    justify-content: start;
    background: #FCFCFC;
  }
  &__text {
    padding: 6px;
    border: 1px solid #DEDEDE;
    border-radius: 4px 0 0 4px;
  }
  &__region {
    padding: 6px;
    border: 1px solid #DEDEDE;
    border-left: none;
    border-radius: 0 4px 4px 0;
  }
}
.trucking-trailer {
  @media (max-width:576px){
    border-top: 1px solid #DEDEDE;
  }
  &__toving {
  }
  &__title {
  }
  &__name {
  }
  &__number {
  }
  &__text {
  }
  &__region {
  }
}
.truck {
  &__number {
  }
}
.logistician {
}
.logistician-surname {
  &__title {
  }
  &__name {
  }
}
.logistician-contact {
  &__text {
  }
}
.driver {
}
.driver-surname {
  &__title {
  }
  &__name {
  }
}
.driver-contact {
  &__text {
  }
}
.cargo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 0;
  border-bottom: 1px solid #E7E7E7;
  @media (max-width:576px){
    flex-wrap: wrap;
  }
}
.cargo-parameters {
}
.cargo-block {
  display: flex;
  align-items: start;
  max-width: 170px;
  width: 100%;
  @media (max-width:576px){
    flex: 0 1 100%;
    padding-top: 10px;
  }
  &__last {
    display: flex;
    align-items: flex-start;
    @media (max-width:576px){
      flex: 0 1 50%;
    }
  }
  &__border {
    @media (max-width:576px){
      flex: 0 1 50%;
      padding-bottom: 10px;
    }
    @media (max-width:557px){
      border-bottom: 1px solid #E7E7E7;
    }
  }
  &__image {
    margin-right: 9px;
  }
  &__type {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  &__title {
    margin-bottom: 3px;
  }
  &__name {
  }
  &__border2 {
    @media (max-width:576px){
      flex: 0 1 50%;
      border-bottom: none!important;
    }
  }
  &__line {
  }
  &__width {
    max-width: 125px;
    width: 100%;
  }
  &__width2 {
    max-width: 172px;
    width: 100%;
  }
}
.funds {
  @media (max-width:576px){
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}
.loading {
}
.loading-surname {
  &__title {
  }
  &__name {
  }
}
.loading-contact {
  &__text {
  }
}
.loading-cargo {
  padding: 12px;
  background: #F6F6F6;
  border: 1px solid #E8E8E8;
  width: 100%;
  &__block {
    border-bottom: none;
    align-items: start;
    @media (max-width:576px){
      display: flex;
      flex-direction: column;
    }
  }
}
.loading-addres {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 25px;
  &__title {
    margin-bottom: 3px;
  }
  &__text {
  }
}
.unloading1 {
}
.unloading1-surname {
  &__title {
  }
  &__name {
  }
}
.unloading1-contact {
  &__text {
  }
}
.unloading-cargo {
  padding: 12px;
  background: #F6F6F6;
  border: 1px solid #E8E8E8;
  width: 100%;
  &__block {
    border-bottom: none;
    align-items: start;
    @media (max-width:576px){
      flex-direction: column;
    }
  }
}
.unloading-addres {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 25px;
  &__text {
  }
  &__title {
  }
}
.unloading1-addres {
  &__title {
  }
}
.unloading {
}
.bid-data {
  &__document {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 300px;
    margin-left: 26px;
    @media (max-width:1180px){
      flex-direction: row;
      width: 100%;
      margin-left: 0;
      justify-content: space-between;
      padding: 20px 0px 15px 0px;
    }
    @media (max-width:576px){
      flex-direction: column;
    }
  }
}
.bid-document {
  margin-bottom: 35px;
  @media (max-width:1180px){
    margin-bottom: 0;
    flex: 0 1 45%;
  }
  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 12px;
  }
  &__list {
    margin: 25px 0;
  }
  &__courier {
    margin-top: 15px;
  }
  &__office {
    &-check {
      @media (max-width:576px){
        width: 280px;
      }
    }
  }
  &__link {
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    padding: 6px 8px;
    border: 1px solid rgba(1, 107, 69, 0.5);
    border-radius: 4px;
    color: #212529;
    display: flex;
    justify-content: space-between;
    transition: all 0.3s ease 0s;
    &:hover {
      background-color: #e7e7e7;
      transition: all 0.3s ease 0s;
    }
    &--office {
      color: #ffffff;
      background-color: #016B45;
      transition: all 0.3s ease 0s;
      &:hover {
        background-color: #005234;
        transition: all 0.3s ease 0s;
        }
      }
    }
    &--img {
      border-left: 1px solid #016B45;
      padding-left: 8px;
      margin-left: 8px;
      &-office {
        border-left: 1px solid #ffffff;
        & > img {
          width: 21px;
        }
      }
      &-check {
        border-left: 0;
        & > img {
          width: 21px;
        }
      }
    }
  &__item {
    &--link {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
  }
  &__image {
    margin-right: 8px;
  }
  &__text {
    font-size: 12px;
    line-height: 14px;
    color: #000000;
  }
}
.bid-additional {
  padding-right: 15px;
  @media (max-width:1180px){
    flex: 0 1 45%;
  }
  &__title {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);
  }
  &__text2 {
  }
}
.requests-block {
  border: 1px solid #EAEAEA;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  margin-top: 22px;
}
.requests-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E8E8E8;
  &__ordinal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 145px;
    height: 50px;
    border-right: 1px solid #EBEBEB;
    margin-right: 9px;
    @media (max-width:576px){
      border-right: none;
    }
  }
  &__image {
    margin-right: 13px;
  }
  &__text {
  }
}
.number1 {
}
.requests-stage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FCFCFC;
  padding: 6px 0;
  @media (max-width:576px){
    display: none;
  }
  &__course {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 9px;
    @media (max-width:576px){
      display: none;
    }
  }
  &__sity {
    width: 165px;
    padding: 10px 0;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 4px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    @media (max-width:768px){
      width: 100%;
      padding: 10px 15px;
    }
  }
  &__arrow2 {
    display: block;
    margin: 0 6px;
  }
  &__date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 162px;
    border-left: 1px solid #E8E8E8;
    border-right: 1px solid #E8E8E8;
    font-size: 13px;
    line-height: 15px;
    padding: 0 8px;
    height: 36px;
    @media (max-width:768px){
      width: 100%;
    }
  }
  &__loading {
  }
  &__unloading {
  }
  &__payment {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 36px;
  }
  &__check {
  }
  &__result {
  }
}
.requests-unfurl {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-left: 1px solid #E8E8E8;
  cursor: pointer;
  @media (max-width:576px){
    border-left: none;
  }
  &__arrow {
    transform: rotateX(180deg);;
  }
}
.number2 {
}
.number3 {
}
.number4 {
}

.section-history {
}
.container {
}
.history {
  display: flex;
  flex-direction: column;
  padding-top: 18px;
  &__title {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 28px;
  }
}
.history-filter {
}
.history-form {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width:576px){
      flex-direction: column-reverse;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(27, 36, 45, 0.75);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    border-radius: 6px 6px 0px 0px;
    width: 304px;
    height: 59px;
    @media (max-width:576px){
      width: 100%;
    }
  }
  &__image {
    margin-right: 19px;
  }
  &__text {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}
.history-search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @media (max-width:1180px){
    width: 70%;
  }
  @media (max-width:576px){
    width: 100%;
    margin-bottom: 15px;
  }
  &__form {
  }
  &__label {
    margin-right: 23px;
    font-size: 14px;
    line-height: 16px;
    color: #464D54;
    @media (max-width:1180px){
      display: none;
    }
  }
  &__input {
    width: 518px;
    height: 44px;
    border: 1px solid #E8E8E8;
    border-radius: 4px;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.75);
    padding: 0 16px;
    background: url(../img/main/lupa.svg) 98% center no-repeat;
    @media (max-width:1180px){
      margin-left: 12px;
      width: 100%;
    }
    @media (max-width:576px){
      margin-left: 0;
    }
  }
}
.form {
}
.input {
}
.head {
  display: flex;
  flex-direction: column;
  background: rgba(27, 36, 45, 0.8);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  border-radius: 0px 0px 6px 6px;
  padding: 20px 17px 13px 21px;
  margin-bottom: 50px;
}
.head-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.head-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width:576px){
    width: 100%;
  }
  &__request {
    padding-left: 12px;
    background: #F6F6F6;
    border-radius: 4px 0px 0px 4px;
    width: 136px;
    height: 44px;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    @media (max-width:1180px){
      width: 133px;
    }
    @media (max-width:576px){
      width: 100%;
    }
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #016B45;
    background-size: contain;
    width: 44px;
    height: 44px;
    border-radius: 0px 4px 4px 0px;
    transition: all 0.3s ease 0s;
    &:hover {
      background: #005234;
      transition: all 0.3s ease 0s;
    }
  }
  &__arrow3 {
  }
  &__period {
    width: 140px;
    @media (max-width:576px){
      width: 100%;
    }
    &--block {
      @media (max-width:576px){
        margin-top: 15px;
      }
    }
  }
  &__city {
    width: 341px;
    @media (max-width:1180px){
      width: 293px;
    }
    @media (max-width:768px){
      width: 100%;
    }
    &--block {
      @media (max-width:768px){
        width: 49%;
        margin-top: 15px;
      }
      @media (max-width:576px){
        width: 100%;
      }
    }
  }
  &__logist {
    width: 308px;
    @media (max-width:1180px){
      width: 319px;
    }
    @media (max-width:768px){
      width: 100%;
    }
    &--block {
      @media (max-width:1180px){
        margin-top: 15px;
      }
      @media (max-width:768px){
        width: 49%;
      }
      @media (max-width:576px){
        width: 100%;
      }
    }
  }
}
.head-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 11px;
}
.head-cleaning {
  @media (max-width:576px){
    width: 50%;
    margin-bottom: 15px;
  }
  &__image {
    margin-right: 8px;
  }
  &__text {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.75);
    margin-top: 1.2px;
  }
}
.head-action {
  background: #016B45;
  border-radius: 6px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  width: 270px;
  padding: 14px 0 10px 0;
  transition: all 0.3s ease 0s;
  &:hover {
    background: #005234;
    transition: all 0.3s ease 0s;
  }
}

//! Стили блока result =======================================

.result {
  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 16px;
  }
  &__title--amount {
    display: inline-block;
    margin: 0 5px;
  }
  &__subtitle {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    padding-top: 12px;
    padding-bottom: 14px;
  }
  &__bg {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #EAEAEA;
  }
  &__top {
    border-top: 1px solid #EAEAEA;
  }
}
.result-block {
}
.result-cargo {
  display: flex;
  justify-content: space-between;
  background: #FCFCFC;
  border-radius: 6px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
}
.result-full {
  margin-top: 6px;
  background: #FCFCFC;
  border: 1px solid rgba(234, 234, 234, 0.5);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  &__data {
    padding: 10px;
  }
}
.request {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
  }
}
.request-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid #016B45;
}
.request-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 135px;
  border-left: 1px solid #E8E8E8;
  border-right: 1px solid #E8E8E8;
  background: #fff;
  margin-right: 12px;
  &__text {
    padding: 14px 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }
}
.route {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
  }
}
.route-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  border-top: 2px solid #016B45;
}
.route-city {
  display: flex;
  align-items: center;
  padding: 6px 0;
  font-size: 14px;
  line-height: 16px;
  margin-right: 12px;
  &__loading {
    width: 146px;
    padding: 8px 0;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 4px;
    text-align: center;
  }
  &__arrow2 {
  }
  &__unloading {
    width: 146px;
    padding: 8px 0;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 4px;
    text-align: center;
  }
}
.result-arrow2 {
  margin: 0 9px;
}
.period {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
  }
}
.period-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  border-top: 2px solid #016B45;
}
.period-date {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 172px;
  border-left: 1px solid #E8E8E8;
  border-right: 1px solid #E8E8E8;
  font-size: 13px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.5);
  margin-right: 12px;
  &__loading {
    text-align: center;
    padding: 8px 0;
  }
  &__arrow2 {
  }
  &__unloading {
  }
}
.logistic {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
  }
}
.logistic-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  height: 100%;
  border-top: 2px solid #016B45;
  &__text {
    padding: 15px 0;
    font-size: 14px;
    line-height: 16px;
    color: #2A2A2A;
  }
}
.car {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
  }
}
.car-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  border-top: 2px solid #016B45;
}
.car-model {
  display: flex;
  align-items: center;
  width: 105px;
  height: 36px;
  border-left: 1px solid #E8E8E8;
  border-right: 1px solid #E8E8E8;
  &__text {
    margin-left: 13px;
    font-size: 14px;
    line-height: 16px;
    color: #2A2A2A;
  }
}
.license {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
  }
}
.license-plate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 120px;
  height: 100%;
  border-top: 2px solid #016B45;
  &__text {
    padding: 15px 0;
    font-size: 14px;
    line-height: 16px;
    color: #2A2A2A;
    margin-left: 13px;
  }
}
.payoff {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
  }
}
.payoff-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  border-top: 2px solid #016B45;
}
.payoff-result {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95px;
  height: 36px;
  border-left: 1px solid #E8E8E8;
  &__point {
  }
  &__text {
    margin-left: 6px;
    font-size: 14px;
    line-height: 16px;
    color: #2A2A2A;
  }
}
.expand {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
  &__title {
    padding: 12px 0 12px 0;
  }
}
.expand-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  border-top: 2px solid #016B45;
}
.expand-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  border-right: 1px solid #EAEAEA;
  border-left: 1px solid #EAEAEA;
  background: #fff;
  padding: 15px 20px;
  &__arrow {
  }
}
.bid {
  &__requisition {
  }
}
.line1 {
  display: flex;
  align-items: start;
  padding: 7px 0 7px 0;
  @media (max-width:1180px){
    flex-direction: column;
  }
  &-trucking {
    padding: 0;
    border-bottom: 0;
    width: 543px;
    @media (max-width:1180px){
      width: 80%;
      padding: 10px 0 3px 0;
    }
    @media (max-width:768px){
      width: 100%;
    }
  }
}
.city {
}
.line1-city {
  align-items: center;
  border-bottom: 0;
  width: 638px;
  @media (max-width:1180px){
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 0;
    border-bottom: 1px solid #dedede;
  }
  @media (max-width:768px){
    flex-direction: column;
  }
  &__text {
    width: 264px;
    @media (max-width:1180px){
      width: 219px;
    }
  }
}
.city-field {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  &__loading {
  }
  &__image {
    margin: 0 9px;
  }
  &__unloading {
  }
}
.line1-field {
}
.arrow2 {
  &__image {
  }
}
.city-date {
  &__loading {
  }
  &__text {
  }
  &__icon {
  }
  &__image {
    margin: 0 9px;
  }
  &__unloading {
  }
}
.line1-date {
  @media (max-width:1180px){
    margin-bottom: 10px;
  }
  &__text {
    @media (max-width:1180px){
      width: 100%;
    }
    @media (max-width:768px){
      width: 33%;
    }
    &--loading {
      @media (max-width:1180px){
        padding-left: 30px;
      }@media (max-width:768px){
        padding-left: 0;
      }
    }
  }
  &__icon {
  }
}
.trucking {
}
.line1-trucking {
}
.trucking-car {
  &__toving {
  }
  &__title {
    font-size: 12px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.5);
  }
  &__name {
    font-size: 14px;
    line-height: 16px;
    color: #2A2A2A;
  }
  &__number {
  }
  &__text {
  }
  &__region {
  }
}
.data {
  &__transportation {
  }
}
.trucking-trailer {
  &__toving {
  }
  &__title {
  }
  &__name {
  }
  &__number {
  }
  &__text {
  }
  &__region {
  }
}
.truck {
  &__number {
  }
}
.line2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #E7E7E7;
  @media (max-width:1180px){
    flex-direction: column;
  }
}
.customer {
}
.contacts {
  
}
.line2-contacts {
  width: 47%;
  padding: 12px 0;
  @media (max-width:1180px){
    width: 100%;
  }
}
.customer-delegate {
  &__title {
  }
  &__name {
  }
}
.contacts-block {
  &__title {
  }
  &__name {
  }
}
.line {
  &__text {
  }
  &__button {
  }
}
.customer-contact {
  &__text {
  }
}
.contacts-phone {
  &__text {
  }
  &__tel {
  }
  &__border {
  }
}
.button {
  &__text {
  }
  &__tel {
  }
  &__border {
  }
}
.logistician {
}
.logistician-surname {
  &__title {
  }
  &__name {
  }
}
.logistician-contact {
  &__text {
  }
}
.driver {
}
.driver-surname {
  &__title {
  }
  &__name {
  }
}
.driver-contact {
  &__text {
  }
}
.line3 {
  display: flex;
  align-items: center;
  @media (max-width:1180px){
    flex-direction: column;
  }
  &__none {
  }
  &__on {
  }
  &__no {
  }
}
.cargo {
}
.cargo-parameters {
}
.line3-cargo {
  &__parameters {
    padding-right: 10px;
  }
  &__funds {
    padding-left: 47px;
    @media (max-width:1180px){
      padding-left: 0;
    }
  }
}
.cargo-block {
  &__border {
  }
  &__image {
  }
  &__type {
  }
  &__title {
  }
  &__name {
  }
}
.funds {
}
.line3-terms {
  max-width: 100%;
  @media (max-width:1180px){
    max-width: 62%;
  }
}
.line4 {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 25px 0 0 0;
  @media (max-width:576px){
    flex-direction: column;
  }
}
.bid-document {
  &__title {
  }
  &__list {
    &--line4 {
      margin: 0;
    }
  }
  &__item {
  }
  &__image {
  }
  &__text {
  }
}
.line4-document {
  flex: 0 1 30%;
  margin-bottom: 15px;
}
.bid-additional {
  &__title {
  }
  &__text {
  }
  &__text2 {
  }
}
.line4-additional {
  flex: 0 1 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width:1180px){
    flex-direction: column;
  }
  &__block {
    flex: 0 1 45%;
  }
}
//!=====================================================
.other {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 23px;
  margin-bottom: 44px;
  @media (max-width:675px){
    flex-direction: column;
  }
  &-sort {
    display: flex;
    align-items: center;
    margin-right: 30px;
    @media (max-width:675px){
      margin-right: 0;
    }
    &__title {
      margin-right: 18px;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: rgba(117, 117, 117, 0.5);
      @media (max-width:675px){
        margin-right: 5px;
        text-align: left;
      }
    }
    &__active {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #000000;
    }
    &__text {
      margin-right: 10px;
      &:active {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #000000;
      }
    }
  }
}
.pagination {
  display: flex;
  @media (max-width:675px){
    margin-bottom: 15px;
  }
}
.page-item {
  width: 37px;
  height: 36px;
  border: 1px solid #80B5A2;
  border-right: none;
  &__previous {
    border-radius: 4px 0 0 4px;
  }
  &__next {
    border-right: 1px solid #80B5A2;
    border-radius: 0 4px 4px 0;
  }
}
.active {
  background: #80B5A2;
  & > a {
    color: #fff;
  }
}

.page-link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease 0s;
  &:hover {
    transition: all 0.3s ease 0s;
    background: #016B45;
    color: #fff;
  }
  &__previous {
    &:hover {
      background: transparent;
    }
  }
  &__next {
    &:hover {
      background: transparent;
    }
  }
  &__img {
    margin-top: 4px;
  }
}


/* .other {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 23px;
  margin-bottom: 44px;
  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
    &__item {
      display: flex;
      align-items: center;
    }
    &__number {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #000000
    }
    &__grey {
      border: 1px solid #80B5A2;
      border-right: none;
      border-radius: 4px 0 0 4px;
    }
    &__green {
      background: #80B5A2;
      border: 1px solid #016B45;
      color: #fff;
    }
    &__hover {
      border: 1px solid #80B5A2;
      border-right: none;
    }
    &__last {
      border: 1px solid #80B5A2;
      border-radius: 0 4px 4px 0;
    }
  }
  &-sort {
    display: flex;
    align-items: center;
    margin-right: 30px;
    &__title {
      margin-right: 18px;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: rgba(117, 117, 117, 0.5);
    }
    &__month {
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #03396B;
    }
    &__bg {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #000000;
    }
    &__text {
      margin-right: 10px;
    }
  }
} */

//! ====================================================

.result-total {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #016A44;
    background: #FAFAFA;
    border-radius: 6px 6px 0px 0px;
    padding: 12px 15px 12px 0;
    @media (max-width:576px){
      display: none;
    }
    &--title {
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #000000;
      &-col1 {
        flex: 1 1 75px;
        @media (max-width:768px){
          flex: 1 1 60px;
        }
      }
      &-col2 {
        flex: 1 1 328px;
        @media (max-width:768px){
          flex: 1 1 160px;
        }
      }
      &-col3 {
        flex: 1 1 157px;
      }
      &-col4 {
        flex: 1 1 108px;
        @media (max-width:1180px){
          display: none;
        }
      }
      &-col5 {
        flex: 1 1 7px;
        @media (max-width:1180px){
          display: none;
        }
      }
      &-col6 {
        flex: 1 1 79px;
        @media (max-width:1180px){
          display: none;
        }
      }
    }
    &--setting {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
  &__ordinal {
    @media (max-width:1180px){
      width: 115px;
    }
  }
  &__city {
    @media (max-width:1180px){
      width: 160px;
    }
  }
  &__date {
    width: 20%;
    padding: 0px 15px;
    @media (max-width:1180px){
      width: 162px;
      border-right: none;
    }
    @media (max-width:768px){
      width: 30%;
    }
    @media (max-width:576px){
      display: none;
    }
  }
  &__item {
    background: #FCFCFC;
    border: 1px solid #e8e8e8;
    &--carnum {
      padding-right: 5px;
    }
    &--box {
      height: 36px;
      border-right: 1px solid #e8e8e8;
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #2A2A2A;
      padding: 0px 40px 0 5px;
      @media (max-width:1180px){
        display: none;
      }
      &-carname {
        @media (max-width:1180px){
          display: none;
        }
      }
      &-car {
        border-right: none;
        padding: 0px 5px;
        width: 120px;
        @media (max-width:1180px){
          display: none;  
        }
      }
    }
    &--name {
      margin: 0px 3px 0px 0px;
    }
  }
}


