.drivers {
  padding: 90px 0px 0px 0px;
  &__body {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    flex: 0 1 67%;
    @media (max-width:1180px){
      flex: 0 1 100%;
    }
    &--title {
      margin: 0px 0px 5px 0px;
    }
  }
  &__breadcrumbs {
    margin: 0px 0px 25px 0px;
  }
}

.surname {
  display: flex;
  margin: 0px 0px 10px 0px;
  &__title {
    margin: 0px 10px 0px 0px;
    &--sort {
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #03396B;
      margin: 0px 10px 0px 0px;
    }
  }
}
.property {
  display: flex;
  align-items: center;
  margin: 0px 0px 10px 0px;
  &__title {
    text-transform: none;
    margin: 0px 10px 0px 0px;
  }
  &__input {
    display: none;
  }
  &__label {
    display: inline-block;  
    margin: 0px 15px 0px 0px;
    vertical-align: 5px;
  }
  &__new {
    &--radio {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      background: #FFFFFF;
      border: 1px solid #DEDEDE;
      border-radius: 50%;
      margin: 0px 5px 0px 0px;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #016B45;
        opacity: 0; 
        transition: all 0.3s ease 0s;
      }
    }
  }
}
.property__input:checked + .property__new--radio::before {
  opacity: 1;
}
.drivers-tab {
  &__header {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    border-radius: 6px 6px 0px 0px;
    height: auto;
    @media (max-width:576px){
      justify-content: space-between;
    }
    &--block {
      padding: 0px 50px 0px 12px;
      @media (max-width:768px){
        padding: 0px 5px 0px 12px;
      }
      &:first-child {
        border-right: 1px solid #EBEBEB;
      }
      &-surname {
        flex: 0 0 300px;
        padding: 13px;
        border-right: 1px solid #ebebeb;
        @media (max-width:576px){
          border-right: none;
        }
      }
      &-wrap {
        display: flex;
        flex: 0 1 65%;
        align-items: center;
        height: 48px;
        background: #FCFCFC;
        border-right: 1px solid #ebebeb;
        @media (max-width:768px){
          flex: 1 1 auto;
        }
        @media (max-width:576px){
          display: none;
        }
      }
    }
    &--surname {
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: #000000;
    }
  }
  &__open {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &__label {
    margin: 0px 0px 3px 0px;
  }
  &__input {
    display: none;
  }
  &__new {
    &--checkbox {
      position: relative;
      width: 16px;
      height: 16px;
      border: 2px solid #838383;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 2px;
        display: block;
        width: 15px;
        height: 12px;
        background: url(../img/drivers/checked.svg) no-repeat;
        opacity: 0; 
        transition: all 0.3s ease 0s;
      }
      &::after {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        display: block;
        width: 11px;
        height: 3px;
        background: url(../img/drivers/no_checked.svg) no-repeat;
        opacity: 1;
        transition: all 0.3s ease 0s;
      }
    }
  }
}
.drivers-tab__input:checked + .drivers-tab__new--checkbox::before {
  opacity: 1;
}
.drivers-tab__input:checked + .drivers-tab__new--checkbox::after {
  opacity: 0;
}
.drivers-info {
  background: #FCFCFC;
  border: 1px solid rgba(234, 234, 234, 0.5);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  &__property {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 13px;
    border-bottom: 1px solid #e7e7e7;
    @media (max-width:576px){
      flex-direction: column;
      align-items: flex-start;
    }
    &--label {
      margin: 0px 0px 10px 0px; 
    }
  }
  &__ticket {
    &--data {
      padding: 13px;
      display: flex;
      @media (max-width:768px){
        justify-content: space-between;
      }
      @media (max-width:576px){
        flex-wrap: wrap;
      }
    }
    &--title {
      padding: 13px;
      border-bottom: 1px solid #e7e7e7;
    }
    &--number {
      flex: 0 1 20%;
      @media (max-width:768px){
        flex: 0 1 33%;
      }
      @media (max-width:576px){
        flex: 0 1 50%;
      }
    }
    &--date {
      flex: 0 1 22%;
      @media (max-width:768px){
        flex: 0 1 33%;
      }
      @media (max-width:576px){
        flex: 0 1 50%;
        &:last-child {
          flex: 0 1 100%;
          margin: 10px 0px 0px 0px;
          border-top: 1px solid #e7e7e7;
          padding: 10px 0px 0px 0px;
        }
      }
      &-wrap {
        display: flex;
        align-items: center;
      }
      &-img {
        margin: 0px 10px 0px 0px;
      }
      &-text {
        margin: 0px 0px 0px 28px;
      }
    }
  }
}

