.finance {
  padding-top: 90px;
  padding-bottom: 40px;
  &__filter {
    margin-bottom: 40px;
    &--item {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin: 0px 0px 15px 0px;
      &-title {
        margin: 0px 15px 0px 0px;
        @media (max-width:460px){
          flex: 0 1 100%;
          margin-bottom: 10px;
        }
        &-date {
          margin-right: 15px;
          position: relative;
          padding-left: 25px;
          @media (max-width:460px){
            flex: 0 1 100%;
            margin-bottom: 10px;
          }
          &::before {
            content: "";
            position: absolute;
            top: -3px;
            left: 0;
            width: 18px;
            height: 18px;
            background: url(../img/main/icon-calendar.svg) no-repeat;
          }
        }
      }
      &-link {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: rgba(0, 0, 0, 0.5);
        margin: 0px 15px 0px 0px;

        &-active {
          color: #03396B;
        }
      }
      &-input {
        background: #FFFFFF;
        border: 1px solid #E8E8E8;
        border-radius: 4px;
        width: 130px;
        height: 30px;
        &-dash {
          width: 11px;
          height: 1px;
          background: #C4C4C4;
          margin: 0px 5px 0px 5px;
        }
      }
    }
    &--label {
      display: flex;
      align-items: center;
    }
    &--checkbox {
      margin: 0px 10px 0px 10px;
      &-first {
        margin-left: 0;
      }
    }
  }
  &__info {
    margin-bottom: 35px;
    &--title {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: #000000;
      margin-bottom: 15px;
    }
    &--subtitle {
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: #016B45;
      margin-bottom: 20px;
    }
    &--block {
      &-open {
        display: none;
      }
      &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba(198, 198, 198, 0.1);
        border-radius: 6px 6px 0px 0px;
        padding: 12px 0px;
        border-bottom: 2px solid #016B45;
        @media (max-width:768px){
          display: none;
        }
        &-item {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        &-text {
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          color: #000000;
        }
        &-date {
          flex: 0 0 100px;
        }
        &-summ {
          flex: 0 1 15%;
        }
        &-status {
          flex: 0 1 20%;
        }
        &-bid {
          flex: 0 1 20%;
        }
        &-route {
          flex: 0 1 40%;
        }
      }
      &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 0 1 100%;
        @media (max-width:768px){
          display: none;
        }
      }
      &-tab {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #000000;
        border: 1px solid #EAEAEA;
        &-date {
          flex: 0 0 100px;
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          color: #000000;
          border-right: 1px solid #EAEAEA;
        }
        &-summ {
          flex: 0 1 15%;
          border-right: 1px solid #EAEAEA;
        }
        &-status {
          flex: 0 1 20%;
          border-right: 1px solid #EAEAEA;
          &-label {
            margin-left: 10px;
          }
        }
        &-bid {
          flex: 0 1 20%;
          border-right: 1px solid #EAEAEA;
        }
        &-route {
          flex: 0 1 40%;
          display: flex;
          align-items: center;
          &-img {
            display: block;
            margin: 0px 5px 0px 5px;
          }
        }
        &-city {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 8px 25px;
          border: 1px solid #E8E8E8;
          border-radius: 4px;
        }
        &-close {
          flex: 0 0 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-left: 1px solid #EAEAEA;
          height: 40px;
          cursor: pointer;
          &-img {
            display: block;
          }
        }
        &-last {
          flex: 0 1 50px;
        }
      }
    }
  }
}
.block-open {
  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 13px;
  }
  &__summ {
    flex: 0 1 20%;
    @media (max-width:576px){
      flex: 0 1 49%;
      padding-bottom: 12px;
    }
    &--text {
      color: #000;
    }
  }
  &__status {
    flex: 0 1 20%;
    @media (max-width:576px){
      flex: 0 1 49%;
      padding-bottom: 12px;
    }
    &--label {
      margin-left: 10px;
    }
  }
  &__bid {
    flex: 0 1 20%;
    @media (max-width:576px) {
      flex: 0 1 100%;
      border-top: 1px solid #E7E7E7;
      border-bottom: 1px solid #E7E7E7;
      padding: 12px 0px;
      
    }
  }
  &__city {
    flex: 0 1 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width:576px){
      flex: 0 1 100%;
      flex-direction: column;
      padding: 12px 0px;
      border-bottom: 1px solid #E7E7E7;
    }
    &--img {
      @media (max-width:576px){
        display: none;
      }
      &-mobile {
        display: none;
        @media (max-width:576px) {
          display: block;
          margin: 10px;
        }
      }
    }
    &--box {
      @media (max-width:576px){
        width: 100%;
      }
    }
  }
  &__document {
    flex: 0 1 100%;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @media (max-width:576px){
      flex-direction: column;
      align-items: flex-start;
    }
    &--title {
      @media (max-width:576px){
        flex: 0 1 100%;
        margin-bottom: 20px;
      }
    }
    &--file {
      position: relative;
      margin-right: 15px;
      padding-left: 30px;
      @media (max-width:576px){
        margin: 0px 0px 20px 0px;
      }
      &::before {
        content: "";
        position: absolute;
        top: -6px;
        left: 0;
        width: 24px;
        height: 24px;
        background: url(../img/main/pdf.svg) no-repeat;
      }
    }
    &--box {
      &-file {
        flex: 0 1 40%;
        display: flex;
        align-items: center;
        color: #000;
        @media (max-width:576px){
          flex: 0 1 100%;
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }
    &--link {
      position: relative;
      display: block;
      background: #016B45 url(../img/main/paper-plane.svg) 95% 50% no-repeat;
      color: #fff;
      border-radius: 4px;
      padding: 10px 0px 10px 15px;
      width: 215px;
      font-size: 13px;
      line-height: 15px;
      transition: all 0.3s ease 0s;
      &:hover {
        background-color: #005234;
        transition: all 0.3s ease 0s;
      }
      &::after {
        content: "";
        position: absolute;
        top: 5px;
        right: 35px;
        display: block;
        width: 1px;
        height: 24px;
        background: #fff;
      }
    }
    &--btn {
      @media (max-width:576px){
        flex: 0 1 100%;
      }
    }
  }
}
.finance-info__active {
  display: block;
}
.finance-wrap__block-active {
  display: none;
}