/*! Стили страницы Добавить авто/водителя Перевозчик */

.cars-drivers {
  &__form {
    &--body {
      background: #FCFCFC;
      border: 1px solid #EAEAEA;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
      border-radius: 10px;
      padding: 20px 20px 0px;
      margin-bottom: 40px;
    }
    &--label {
      display: inline-block;
      margin: 0px 0px 10px 0px;
      &-name {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: rgba(0, 0, 0, 0.75);
        
      }
    }
    &--property {
      &-title {
        margin: 0px 0px 10px 0px;
      }
    }
  }
}
.form {
  &__item {
    &--name {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 30px 0px 20px 0px;
      border-bottom: 1px solid #C4C4C4;
    }
    &--data {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      border-bottom: 1px solid #C4C4C4;
      &-title {
        flex: 0 1 100%;
        margin: 0px 0px 10px 0px;
      }
      &-num {
        flex: 0 1 28%;
        @media (max-width:576px){
          flex: 0 1 100%;
        }
      }
      &-date {
        flex: 0 1 28%;
        @media (max-width:576px){
          flex: 0 1 48%;
        }
      }
      &-issued {
        flex: 0 1 100%;
      }
      &-car {
        flex: 0 1 24%;
        @media (max-width:576px){
          flex: 0 1 48%;
        }
      }
      &-trailer {
        flex: 0 1 19%;
        &:last-child {
          flex: 0 1 21%;
        }
        @media (max-width:1180px){
          flex: 0 1 24%;
          &:last-child {
            flex: 0 1 24%;
          }
        }
        @media (max-width:576px){
          flex: 0 1 49%;
          &:last-child {
            flex: 0 1 49%;
          }
        }
      }
    }
    &--document {
      padding: 20px 0px;
      &-block {
        display: flex;
        flex-direction: column;
        padding: 5px 0px;
        border-bottom: 1px solid #C4C4C4;
      }
      &-title {
        margin: 0px 0px 5px 0px;
      }
      &-link {
        margin: 0px 0px 10px 0px;
      }
      &-input {
        margin: 0px 0px 10px 0px;
      }
      &-comment {
        padding: 20px 0px 10px 0px;
      }
      &-textarea {
        background: #FFFFFF;
        border: 2px solid #DEDEDE;
        border-radius: 4px;
        width: 100%;
        resize: vertical;
        padding: 10px;
      }
    }
    &--submit {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width:576px){
        flex-direction: column;
      }
      &-btn {
        display: inline-block;
        flex: 0 0 40%;
        padding: 10px 25px;
        @media (max-width:576px){
          flex: 0 1 100%;
          margin-bottom: 10px;
        }
      }
      &-text {
        flex: 0 1 58%;
        @media (max-width:576px){
          flex: 0 1 100%;
        }
      }
      &-link {
        text-decoration: underline;
        transition: all 0.3s ease 0s;
        &:hover {
          color: #4838d4;  
          transition: all 0.3s ease 0s;
        }
      }
    }
  }
  &__input {
    &--block {
      &-wrap {
        flex: 0 1 45%;
        @media (max-width:576px){
          flex: 0 1 100%;
        }
      }
    }
    &--cars-drivers {
      background: url(../img/main/editor.svg) 98% 50% no-repeat;
    }
    &--date {
      background: url(../img/main/icon-calendar.svg) 2% 50% no-repeat, url(../img/main/editor.svg) 98% 50% no-repeat;
      padding: 13px 0 13px 30px;
    }
  }
}

/*! Конец! Стили страницы Добавить авто/водителя Перевозчик */