.new-bid {
  padding: 90px 0px 0px 0px;
  &__checkbox {
    display: inline-block;
    &--block {
      margin-bottom: 25px;
    }
  }
  &__label {
    display: inline-block;
    vertical-align: 3px;
    margin-left: 10px;  
  }
  &__header {
    padding: 3px 0px;
    &:nth-child(n+2):nth-child(-n+3) {
      margin-top: 20px;
    }
    &--block {
      &-number {
        flex: 0 0 120px;
        padding: 13px 0 13px 13px;
        border-right: 1px solid #EBEBEB;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
        margin-right: 10px;
      }
      &-info {
        &-wrap {
          display: flex;
          flex-wrap: wrap;
          flex: 1 1 auto;
          align-items: center;
          justify-content: space-between;
          height: auto;
          background: #FCFCFC;
          padding: 10px 13px;
          border-bottom: 1px solid #E8E8E8;
          @media (max-width:1180px){
            border-bottom: 1px solid #E8E8E8;
          }
        }
      }
      &-wrap {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        height: auto;
        background: #FCFCFC;
        @media (max-width:768px) {
          display: none;
        }
      }
    }
    &--city {
      flex: 0 1 60%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 10px;
      &-info {
        flex: 0 1 48%;
        @media (max-width:1180px){
          flex: 0 1 59%;
          padding-right: 0;
        }
        @media (max-width:768px){
          flex: 0 1 100%;
        }
        @media (max-width:576px) {
          flex-direction: column;
        }
      }
      &-town {
        border: 1px solid #E8E8E8;
        border-radius: 4px;
        padding: 10px 30px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #000000;
        @media (max-width:576px){
          width: 100%;
        }
      }
      &-img {
        display: block;
        margin: 0px 5px;
        @media (max-width:576px){
          transform: rotate(90deg);
          margin: 15px 0px;
        }
      }
    }
    &--date {
      flex: 0 1 40%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-left: 1px solid #E8E8E8;
      padding: 15px 20px;
      &-info {
        flex: 0 1 24%;
        @media (max-width:1180px){
          flex: 0 1 39%;
        }
        @media (max-width:768px){
          flex: 0 1 45%;
          margin-top: 10px;
        }
        @media (max-width:576px){
          flex: 0 1 100%;
          border-left: none;
          border-bottom: 1px solid #E8E8E8;
        }
      }
    }
    &--button {
      &-wrap {
        flex: 0 1 25%;
        @media (max-width:1180px){
          margin-top: 10px;
          flex: 0 0 200px;
        }
        @media (max-width:768px){
          margin-top: 10px;
        }
        @media (max-width:576px){
          margin-top: 10px;
        }
      }
      &-info {
        width: 100%;
        @media (max-width:576px){
          width: 200px;
        }
      }
    }
    &--items {
      &-wrap {
        align-items: flex-start;
        @media (max-width:1180px){
          justify-content: flex-start;
        }
      }
    }
    &--item {
      flex: 0 1 15%;
      padding-left: 25px;
      @media (max-width:1180px){
        flex: 0 1 33%;
      }
      @media (max-width:576px){
        flex: 0 1 49%;
        padding-bottom: 10px;
        border-bottom: 1px solid #E8E8E8;
      }
    }
    &--cargo {
      background: url(../img/main/icon-box.svg) no-repeat;
    }
    &--weight {
      background: url(../img/main/icon-weight.svg) no-repeat;
    }
    &--volume {
      background: url(../img/main/icon-volume.svg) no-repeat;
      @media (max-width:576px){
        margin-top: 10px;
      }
    }
    &--cost {
      background: url(../img/main/icon-cost.svg) no-repeat;
      @media (max-width:1180px){
        margin-top: 10px;
      }
    }
    &--payment {
      flex: 0 1 25%;
      background: url(../img/main/icon-calendar.svg) no-repeat;
      @media (max-width:1180px){
        flex: 0 1 50%;
        margin-top: 10px;
      }
      @media (max-width:576px){
        flex: 0 1 100%;
        padding-bottom: 0;
        border-bottom: none;
      }
    }
  }
  &__comment {
    padding: 20px 13px;
    &--title {
      margin-bottom: 10px;
    }
    &--text {
      margin-bottom: 20px;
    }
  }
  
}
.filter-new-bid {
  &__header {
    @media (max-width:768px){
      display: none;
    }
    &--name {
      flex: 0 1 120px;
      @media (max-width:1180px){
        flex: 0 1 120px;
      }

    }
    &--route {
      flex: 0 1 30%;
      @media (max-width:1180px){
        flex: 0 1 50%;
      }
    }
    &--date {
      flex: 0 1 25%;
      @media (max-width:1180px){
        flex: 0 1 35%;
      }
    }
    &--center {
      flex: 0 1 40%;
      &-item {
        flex:  0 1 24%;
      }
    }
    &--setting {
      @media (max-width:1180px){
        display: none;
      }
    }
  }
  &__block {
    &--numder {
      padding-left: 0;
    }
  }
  &__period {
    flex: 0 1 15%;
    @media (max-width:1180px){
      flex: 0 1 32%;
    }
    @media (max-width:576px){
      flex: 0 1 100%;
    }
  }
  &__town {
    @media (max-width:1180px){
      flex: 0 1 66%;
    }
    @media (max-width:576px){
      margin-top: 15px;
    }
  }
  &__item {
    &--center {
      @media (max-width:1180px){
        margin-top: 15px;
      }
    }
  }
  &__result {
    &--city {
      flex: 0 1 50%;
    }
    &--date {
      flex: 0 1 40%;
    }
    &--wrap1 {
      flex: 0 1 55%;
      @media (max-width:1180px){
        flex: 1 1 auto;
      }
    }
    &--wrap2 {
      flex: 0 1 36%;
      @media (max-width:1180px){
        display: none;
      }
      &-item {
        flex: 0 1 24%;
      }
    }
    &--cost  {
      text-align: center;
      border-left: 1px solid #ebebeb;
      padding: 10px 0;
    }
  }
  &__button {
    &--wrap {
      flex: 0 1 200px;
    }
  }
  &__comment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &--wrap {
      flex: 0 1 48%;
      @media (max-width:576px){
        flex: 0 1 100%;
      }
      &:first-child {
        margin-right: 15px;
        @media (max-width:576px){
          margin-right: 0;
        }
      }
    }
  }
}

  