/*! Стили страницы Мои перевозки Заказчик */

.number-test {
  margin-bottom: 40px;
}

.bid {
  &__reqvuisition {
    &--lkz {
      width: 100%;
    }
    &--number {
      &-lkz {
        width: 130px;
        height: 50px;
        border-right: 1px solid #ebebeb;
        margin-right: 9px;
      }
    }
    &--title {
      &-lkz {
        padding-left: 8px;
      }
    }
  }
}

.requests-stage {
  &__payment {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 36px;
    @media (max-width:1180px){
      display: none;
    }
  }
}
.funds {
  @media (max-width:576px){
    display: flex;
    flex-wrap: wrap;
  }
}
.cargo-block {
  &__last {
    @media (max-width:576px){
      flex: 0 1 100%;
      padding-top: 10px;
      border-top: 1px solid #e7e7e7;
    }
  }
  &__lkz {
    max-width: none;
    &--cost, 
    &--indebtedness {
      @media (max-width:576px){
        flex: 0 1 50%;
        padding-bottom: 10px;
      }
    }
  }
}

.result-total {
  &__ordinal {
    &--lkz {
      width: 122px;
    }
  }
  &__sity {
    width: 133px;
  }
}
.wrap-center {
  &__lkz {
    width: auto;
    align-items: center;
  }
}
.funds {
  &__cargo-block {
    &--last {
      @media (max-width:576px){
        border-top: 1px solid #e7e7e7;
      }
    }
  }
}
.line4-additional {
  &__block {
    &--lkz {
      flex: 0 1 100%;
    }
  }
}
.result-total {
  &__header {
    &--title {
      &-lkz {
        &-col1 {
          flex: 0 1 123px;
        }
        &-col2 {
          flex: 0 1 315px;
        }
        &-col3 {
          flex: 0 1 173px;
        }
        &-col4 {
          flex: 0 1 172px;
        }
        &-col5 {
          flex: 0 1 80px;
        }
        &-col6 {
          flex: 0 1 90px;
        }
        &-col7 {
          flex: 0 1 90px;
          @media (max-width:1180px){
            display: none;
          }
        }
      }
    }
  }
}

/*! Конец! Стили страницы Мои перевозки Заказчик */


