/* Стили мобильного меню */

.header {
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;

   &__app {
      z-index: 55;
      display: flex;
      flex: 0 1 auto;
      justify-content: space-between;
      align-items: center;
      margin: 0px 0px 0px 21px;
      @media (max-width:685px){
         justify-content: flex-end;
         flex: 0 1 70%;
         margin: 0;
      }
      @media (max-width:400px){
         flex: 0 1 auto;
      }
      &--box {
         flex: 0 0 auto;
         margin-right: 10px;
         z-index: 55;
         &-text {
            flex: 0 1 auto;
            @media (max-width:685px){
               display: none;
            }
         }
      }
      &--mobile {
         display: none;
         font-weight: 400;
         font-size: 14px;
         line-height: 16px;
         text-align: center;
         color: #FFFFFF;
         border-radius: 5px;
         padding: 12px 22px;
         width: 287px;
         background: #1D1D1D;
         margin: 0 auto;
         @media (max-width:685px){
            display: block;
         }
         &-link {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #FFFFFF;
            border-radius: 5px;
            padding: 20px 22px;
            display: block;
            width: 287px;
            background: #1D1D1D;
            margin: 0 auto;
         }
      }
     
      &--title {
         font-weight: 400;
         font-size: 18px;
         line-height: 21px;
         color: #FFFFFF;
         @media (max-width:768px){
            font-size: 16px;
            line-height: 19px;   
         }
      }
      &--subtitle {
         font-weight: 400;
         font-size: 13px;
         line-height: 15px;
         color: #B6B6B6;
         @media (max-width:768px){
            font-size: 12px;
            line-height: 14px;
         }
      }
      &--link {
         font-weight: 400;
         font-size: 14px;
         line-height: 16px;
         text-align: center;
         color: #FFFFFF;
         border: 2px solid #495057;
         border-radius: 5px;
         padding: 12px 22px;
         transition: all 0.3s ease 0s;
         &:hover {
            background: #6c757d;
            border-color: #6c757d;
            transition: all 0.3s ease 0s;
         }
         @media (max-width:768px){
            display: none;
         }
         &-mobile {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #FFFFFF;
            border: 2px solid #495057;
            border-radius: 5px;
            padding: 12px 22px;
            display: none;
            transition: all 0.3s ease 0s;
            &:hover {
               background: #6c757d;
               border-color: #6c757d;
               transition: all 0.3s ease 0s;
            }
            @media (max-width:768px){
               display: inline-block;
               margin-right: 5px;
            }
            @media (max-width:400px){
               display: none;
            }
         }
      }
   }


   &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #1B242D;
      z-index: 2;
   }

   &__body {
      position: relative;
      display: flex;
      justify-content: space-between;
      height: 80px;
      align-items: center;
   }

   &__logo {
      flex: 0 0 101px;
      overflow: hidden;
      position: relative;
      z-index: 3;

      & img {
         max-width: 100%;
         display: block;
      }
   }

   &__burger {
      display: none;
   }

   &__list {
      display: flex;
      position: relative;
      z-index: 2;

      & li {
         margin: 0px 0px 0px 20px;
      }
   }


   &__link {
      color: #fff;
      text-transform: uppercase;
      font-size: 18px;
      text-decoration: none;
   }
   &__menu {
      position: fixed;
   }
}

.link-mobile {
   display: none;
   @media (max-width:399px){
      display: block;
      width: 287px;
      background: #1D1D1D;
      margin: 0 auto;
   }
}

@media (max-width:768px) {
   body.lock {
      overflow: hidden;
   }

   .header {
      &__logo {
         flex: 0 0 100px;
      }

      &__burger {
         display: block;
         position: relative;
         width: 30px;
         height: 20px;
         position: relative;
         z-index: 3;

         & span {
            position: absolute;
            background-color: #B6B6B6;
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            top: 9px;
            transition: all 0.3s ease 0s;
         }
   }

      &__burger:before,
      &__burger:after {
         content: '';
         background-color: #B6B6B6;
         position: absolute;
         width: 100%;
         height: 2px;
         left: 0;
         transition: all 0.3s ease 0s;
      }

      &__burger:before {
         top: 0;
      }

      &__burger:after {
         bottom: 0;
      }

      &__burger {
         &.active {
            & span {
               transform: scale(0);
            }
         }
      }


      &__burger {
         &.active {
            &:before {
               transform: rotate(45deg);
               top: 9px;
            }
         }
      }

      &__burger {
         &.active {
            &:after {
               transform: rotate(-45deg);
               bottom: 9px;
            }
         }
      }

      &__menu {
         position: fixed;
         top: -100%;
         left: 0;
         width: 100%;
         height: 100%;
         overflow: auto;
         transition: all 0.3s ease 0s;
         background-color: #016B45;
         padding: 120px 10px 20px 10px;
      }

      &__menu {
         &.active {
            top: 0;
         }
      }

      &__list {
         display: block;
      }

      &__list {
         & li {
            margin: 0px 0px 10px 0px;
            padding: 0px 0px 10px 0px;
         }
      }

      &__link {
         font-size: 24px;
      }
   }
}