@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"),
		url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.container {
	max-width: 1290px;
	margin: 0px auto;
	padding: 0px 10px;
}

@import "_reset";
@import "fonts";
@import "_mobile";
@import "_authorization";
@import "lkp-my-transportation";
@import "_footer";

