@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"),
		url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%; 
}

.container {
	max-width: 1290px;
	margin: 0px auto;
	padding: 0px 10px;
	@media (max-width:1180px){
		max-width: 768px;
	}
}
.page__title {
	font-weight: normal;
	font-size: 36px;
	line-height: 42px;
	color: #000000;
}
.span-title {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: rgba(0, 0, 0, 0.5);
	text-transform: capitalize;
}
.span-title__info {
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: rgba(0, 0, 0, 0.5);
}

@import "_reset";
@import "fonts";
@import "_mobile";
@import "_authorization";
@import "_lkp-my-transportation";
@import "_lkz-my-transportation";
@import "_lkp-drivers";
@import "_footer";

