@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"),
		url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%; 
}

.container {
	max-width: 1290px;
	margin: 0px auto;
	padding: 0px 10px;
	@media (max-width:1180px){
		max-width: 768px;
	}
}
.page__title {
	font-weight: 400;
	font-size: 36px;
	line-height: 42px;
	color: #000000;
}
.section__title {
	font-weight: 400;
	font-size: 30px;
	line-height: 35px;
	color: #000000;
}
.span-title {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: rgba(0, 0, 0, 0.5);
}
.span-title__info {
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: rgba(0, 0, 0, 0.5);
}
.info__title {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}
.span-title__info--text {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #2A2A2A;
}
.p__info--text {
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: rgba(0, 0, 0, 0.5);
}
.drivers-tab__header--surname {
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #000;
}
.drivers__btn {
	display: inline-block;
	background: #FCFCFC;
	border: 1px solid #016B45;
	box-shadow: 0px 4px 15px #0000000d;
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #016B45;
	padding: 10px 0;
	width: 272px;	
	transition: all 0.3s ease 0s;
	&:hover {
		background-color: #e7e7e7;
		transition: all 0.3s ease 0s;
	}
}
.btn__link {
	display: block;
	background: #016B45;
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #FFFFFF;
	padding: 10px 0;
	width: 100%;
	transition: all 0.3s ease 0s;
	&:hover {
		background-color: #005234;
		transition: all 0.3s ease 0s;
	}
}



@import "_reset";
@import "fonts";
@import "_mobile";
@import "_authorization";
@import "_lkp-my-transportation";
@import "_lkz-my-transportation";
@import "_lkp-drivers";
@import "_drivers-search";
@import "_footer";

